<a routerLink="/audiocall" (click)="onInitActions()" style="padding-right: 20px;">Add Others</a>
<a routerLink="/call" (click)="oncallEnd()">End Call</a>
<div class="row" style="display: flex;position: relative;flex-flow: wrap;">
    <!-- {{remoteCalls|json}} -->
    <div *ngFor="let callId of remoteCalls" [id]="callId" class="col-md-4">{{callId}}
        <img src="\assets\390132123.jpg" style="width: 300px;height: 300px;">
    </div>
    <!-- padding: 15px 25px; -->
    <div *ngIf="isJoin" [id]="localCallId" class="col-md-4">{{localCallId}}
        <img src="\assets\390132123.jpg" style="width: 300px;height: 300px;">
    </div>

    <!-- <div class="col-md-4" style="width: 46vw;height: 46vh;"></div>
    <div class="col-md-4" style="width: 46vw;height: 46vh;"></div>  -->
</div>