<a routerLink="/videocall" (click)="onInitActions()" style="padding-right: 20px;">Add Others</a>
<a routerLink="/call" (click)="oncallEnd()">End Call</a>
<div class="row" style="display: flex;position: relative;flex-flow: wrap;">
    <div *ngFor="let callId of remoteCalls" [id]="callId" class="col-md-4"
        style="width: 380px;height: 380px;padding: 15px 25px;">{{callId}}
    </div>
    <div *ngIf="isJoin" [id]="localCallId" class="col-md-4" style="width: 380px;height: 380px;padding: 15px 25px;">
        {{localCallId}}
    </div>
</div>